@page "/courses/create"
@using Microsoft.EntityFrameworkCore
@using SIMS.Data
@inject IDbContextFactory<SIMS.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Course</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Course" OnValidSubmit="AddCourse" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="Course.Name" class="form-control" /> 
                <ValidationMessage For="() => Course.Name" class="text-danger" /> 
            </div>      
            




            <div class="mb-3">
                <label for="subjectid" class="form-label">Subject:</label> 
                <InputSelect id="subjectid" @bind-Value="Course.SubjectId" class="form-control" > 
                    @foreach (var subject in Subjects)
                    {
                        <option value="@subject.Id">@subject.Name</option>
                    }

                 </InputSelect>
                 <ValidationMessage For="() => Course.SubjectId" class="text-danger" />

            </div>      


            <div class="mb-3">
                <label for="semesterid" class="form-label">Semester:</label> 
                <InputSelect id="semesterid" @bind-Value="Course.SemesterId" class="form-control" > 
                    @foreach (var semester in Semesters)
                    {
                        <option value="@semester.Id">@semester.Name</option>
                    }

                 </InputSelect>
                 <ValidationMessage For="() => Course.SemesterId" class="text-danger" />

            </div>    


            <div class="mb-3">
                <label for="lectureid" class="form-label">Lecture:</label> 
                <InputSelect id="lectureid" @bind-Value="Course.LectureId" class="form-control" > 
                    @foreach (var lecture in Lectures)
                    {
                        <option value="@lecture.Id">@lecture.NormalizedUserName</option>
                    }

                 </InputSelect>
                 <ValidationMessage For="() => Course.LectureId" class="text-danger" />

            </div> 



            



            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/courses">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Course Course { get; set; } = new();

    private List<Subject> Subjects{get; set; } = new();
    private List<Semester> Semesters{get; set; } = new();
    private List<ApplicationUser> Lectures { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Subjects = await context.Subjects.ToListAsync();
        Semesters = await context.Semesters.ToListAsync();
        Lectures = await context.Users.ToListAsync();
    }

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddCourse()
    {
        using var context = DbFactory.CreateDbContext();
        context.Courses.Add(Course);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/courses");
    }
}
